<div class="mt-8 mb-lg-14 mb-8" *ngIf="category$ | async as category">
  <div class="container" *ngIf="products$ | async as products">
    <div class="d-flex gx-10">
      <aside class="col-lg-3 col-md-4 mb-6 mb-md-0 pl-6 w-25 p-8">
        <div
          class="ml-4 w-100"
          tabindex="-1"
          id="offcanvasCategory"
          aria-labelledby="offcanvasCategoryLabel"
        >
          <div class="s-lg-2 pt-lg-0">
            <div class="mb-8 w-100">
              <!-- title -->
              <h5 class="mb-3">Categories</h5>
              <!-- nav -->
              <ul
                class="nav nav-category"
                *ngFor="let item of categories$ | async"
              >
                <li class="nav-item border-bottom w-100">
                  <a
                    role="button"
                    routerLink="/categories/{{ item.id }}"
                    class="nav-link"
                  >
                    {{ item.name }}
                    <i class="feather-icon icon-chevron-right"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="my-4 w-100" [formGroup]="filter">
          <div class="mb-8">
            <h5 class="mb-3">Stores</h5>
            <!-- input -->
            <input
              type="search"
              formControlName="storeFilter"
              class="form-control mb-4"
              placeholder="Search by store"
            />
            <!-- form check -->
            <div formGroupName="store">
              <div *ngFor="let store of stores$ | async" class="form-check mb-2">
                <input
                  [id]="store.name"
                  [formControlName]="store.id"
                  class="form-check-input"
                  type="checkbox"
                /><label [for]="store.name" class="form-check-label">{{
                  store.name
                }}</label>
              </div>
            </div>
          </div>
          <h5 class="mb-3">Price</h5>
          <input
            type="search"
            formControlName="priceMin"
            class="form-control mb-4"
            placeholder="Price From"
          />
          <input
            type="search"
            formControlName="priceMax"
            class="form-control"
            placeholder="Price To"
          />

          <div *ngFor="let star of stars$ | async; let i = index" class="form-check mb-2">
            <input
              formControlName="rating"
              [id]="i"
              class="form-check-input"
              type="radio"
              name="rating"
              [value]="5-i"
            /><label [for]="i" class="form-check-label"
              ><div class="text-warning">
                <i
                  *ngFor="let val of star"
                  class="bi"
                  [ngClass]="{
                    'bi-star-fill': val === 1,
                    'bi-star': val === 0,
                    'bi-star-half': val === 0.5
                  }"
                ></i></div
            ></label>
          </div>
        </div>
      </aside>
      <section class="w-100">
        <div class="card mb-4 bg-light border-0">
          <!-- card body -->
          <div class="card-body p-9">
            <h2 class="mb-0 fs-1">{{ category.name }}</h2>
          </div>
        </div>
        <div>
          <div class="d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-lg-0">
              <p class="mb-0">
                <span class="text-dark">{{ products.length }} </span> Products
                found
              </p>
            </div>
            <div class="d-flex mt-2 mt-lg-0">
              <div [formGroup]="sort">
                <!-- select option -->
                <select class="form-select" formControlName="sortValue">
                  <option [ngValue]="" hidden>Featured</option>
                  <option
                    *ngFor="let sortSelect of sortSelection$ | async; let first = first"
                    [ngValue]= "sortSelect"
                  >
                    {{ sortSelect.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row g-4 row-cols-1 mt-2">
            <div class="col">
              <!-- card -->
              <div
                class="card card-product mb-6"
                *ngFor="let product of products"
              >
                <!-- card body -->
                <div class="card-body">
                  <div class="row align-items-center">
                    <!-- col -->
                    <div class="col-md-4 col-12">
                      <div class="text-center position-relative">
                        <!-- img --><img
                          src="{{ product.imageUrl }}"
                          alt="Grocery Ecommerce Template"
                          class="mb-3 img-fluid"
                        />
                      </div>
                    </div>
                    <div class="col-md-8 col-12 flex-grow-1">
                      <!-- heading -->
                      <div class="text-small mb-1">
                        <small>{{ category.name }}</small>
                      </div>
                      <h2 class="fs-6">{{ product.name }}</h2>
                      <div>
                        <!-- rating --><small class="text-warning">
                          <i
                            *ngFor="let val of product.ratingOptions"
                            class="bi"
                            [ngClass]="{
                              'bi-star-fill': val === 1,
                              'bi-star': val === 0,
                              'bi-star-half': val === 0.5
                            }"
                          ></i>
                        </small>
                        <span class="text-muted small"
                          >{{ product.ratingValue }}({{
                            product.ratingCount
                          }})</span
                        >
                      </div>
                      <div class="mt-6">
                        <!-- price -->
                        <div>
                          <span class="text-dark">${{ product.price }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav
          class="d-flex justify-content-between w-75"
          [ngClass]="{ dnone: products.length === 0 }"
        >
          <div>
            <h5>Limit</h5>
            <ul class="pagination" *ngIf="pageSize$ | async as pageSize">
              <li
                class="page-item"
                *ngFor="let limit of limitSelection$ | async"
                [ngClass]="{ active: limit === pageSize }"
              >
                <a class="page-link" (click)="onPageSizeChange(limit)">{{
                  limit
                }}</a>
              </li>
            </ul>
          </div>
          <div>
            <h5>Pragintaion</h5>
            <ul class="pagination" *ngIf="pageNumber$ | async as pageNumber">
              <li class="page-item" *ngFor="let page of pageSelection$ | async">
                <a
                  class="page-link"
                  [ngClass]="{ active: page === pageNumber }"
                  (click)="onPageNumberChange(page)"
                  >{{ page }}</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </section>
    </div>
  </div>
</div>
